/* aesthetics.scss */
.atf {

	.amazon-reviews {
		line-height: 1;
		position: relative;
		top: -10px;

		.amazon-logo {
			width: 15%;
			position: relative;
			top: 15px;
		}
	}
	.cta-button {
		width: 50%;
	}
}

/* media queries */
.atf {

	.amazon-reviews {
		top: -7px;
		margin-bottom: .5em;

		.amazon-logo {
			top: 8px;
		}
	}	
}