/* aesthetics.scss */
.atf {

	.amazon-reviews {
		line-height: 1;
		position: relative;
		top: -10px;

		.amazon-logo {
			width: 15%;
			position: relative;
			top: 15px;
		}
	}
	.cta-button {
		width: 50%;
	}
}

/* media queries */
@media (max-width: 767px) {
	.atf {

		.headline {
			margin-bottom: .75em;
		}
		.amazon-reviews {
			top: 0;

			.amazon-logo {
				top: 8px;
			}
		}	
	}
}	