/* lists.scss */
.payment-icons {
	height: 28px;

	.fa {
		font-size: 1.5em;
	}
	li {
		display: inline-block;
		width: 3%;
		&:last-child {
			width: 13%;
			font-size: 1.3rem;
			vertical-align: top;
			line-height: 24px;
		}
	}
}
.atf {

	.benefits {

		li {
			font-size: 1.4rem;
			display: inline-flex;
			line-height: 1.2em;
			&:before {
				font-family: "FontAwesome";
				content: "\f058";
				display: inline-block;
				color: $orange;
				margin-right: .4em;
			}
		}
	}
}
.footer {

	.payment-icons {

		li {
			width: 14%;
			&:last-child {
				font-size: inherit;
			}
		}
	}
	.security-seals {

		li {
			width: 10%;
			display: inline-block;
			padding: 0 .5em;
		}
	}
}

/* media queries */
@media (max-width: 767px) {
	.payment-icons {
		height: auto;
		padding: .2em 0 0 0;

		li {
			width: 10%;
			&:last-child {
				width: 33%;
				font-size: .9rem;
			}
		}
	}
	.atf {

		.benefits {

			li {
				font-size: 1rem;
				margin-bottom: .35em;
			}
		}
	}
	.footer {

		.top-row {
			.column {
				margin-bottom: 1em;
			}
			.fa-facebook-square {
				margin-right: .25em;
			}
			.privacy-links {
				display: block;
				margin-top: .5em;
				text-align: left;
			}
		}
		.payment-icons {

			li {
				width: 9%;
			}
		}
		.security-seals {

			li {
				width: 30%;
			}
		}
	}
}