/* navigation.scss */
.main-nav {
	height: 40px;


	.logo {
		position: relative;
		top: 5px;
	}
	li {
		display: inline-block;
		width: 12%;
		line-height: 40px;

		a:hover {
			color: $orange;
		}
	}
}