/* navigation.scss */
.main-nav {
	height: 40px;


	.logo {
		position: relative;
		top: 5px;
	}
	li {
		display: inline-block;
		width: 12%;
		line-height: 40px;

		a:hover {
			color: $orange;
		}
	}
}

/* media queries */
@media (max-width: 767px) {
	.main-nav {
		position: relative;
		padding: 5px 0 !important;

		.logo .headline {
			position: relative;
			top: 5px;
		}

		.hamburger-icon {
			float: right;
		}
		.icon {
			position: absolute;
			right: 0;
			top: 5px;
			cursor: pointer;
			line-height: 10px;
			margin-left: 10px;
		}
		.bar1, .bar2, .bar3 {
		    width: 35px;
		    height: 4px;
		    background-color: #ddd;
		    margin: 3px 0;
		    transition: 0.4s;
		    display: inline-block;;
		}

		/* Rotate first bar */
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
		    transform: rotate(-45deg) translate(-8px, 6px) ;
		}
		/* Fade out the second bar */
		.change .bar2 {
		    opacity: 0;
		}
		/* Rotate last bar */
		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
		    transform: rotate(45deg) translate(-8px, -6px) ;
		}
	}
	.mobile-menu-container {

		li {
			display: none
		}
	}
	.responsive-menu {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #F9F7F6;

		li {
			display: block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			display: block;
			text-align: center;
		}
	}
}	