/* woocommerce.scss */

.woocommerce-message {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
       color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.woocommerce-breadcrumb {
	margin: 1em 0;
	padding: 0 15px;
}
.woocommerce img {
	width: 100%;
	height: auto;
	display: inline-block;
	border: solid 1px #ccc;
	border-radius: 4px;
}
.footer img {}
/* featured products on home page */
.featured-products {
	.woocommerce-loop-product__title {
		font-size: 1.2rem;
		text-align: center;
	}
	.price {
		display: block;
	    text-align: center;
	    margin: .25em 0 .5em 0;
	    font-size: 1.2rem;
	    ins {
	    	color: $orange;
	    	font-weight: 700;
	    }
	}
}
.onsale {
	display: none;
}
/* category styles */
.woocommerce-products-header,
.woocommerce-result-count,
.woocommerce-ordering,
#sidebar {
	display: none;
}
.post-type-archive-product {
	.product {
		margin-bottom: 3em;

		.woocommerce-loop-product__title {
			font-size: 1.25rem;
			text-align: center;
			margin: .25em 0 .5em 0;
		}
		.price {
			display: block;
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.1rem;
		}
		ins {
			color: $orange;
			margin-left: .5em;
			text-decoration: none;
			font-weight: bold;
		}
	}
}	
.btn {
	padding: 8px 16px;
	text-align: center;
	border-radius: 4px;
	outline: 0;
}
.add_to_cart_button,
.single_add_to_cart_button {
	font-weight: 700;
	padding: 16px 12px;
	background: $orange;
	color: $white;
	&:hover {
		background: $cta-orange-hover;
	}
}
.add_to_cart_button {
	float: right;
}
.info-button {
	background: $grey;
	padding: 16px 12px;
	font-weight: 700;
	&:hover {
		background: #aaa;
	}	
}
.add_to_cart_button, .info-button {
	width: 42%;
	display: inline-block;
}
/* single product styles */
.single-product {

	.dr-elements {

		li {
			display: inline-block;
		    width: 45%;
		    padding: .25em 0 .25em .25em;
		    border: solid 1px #eee;
		    color: $orange;
		}
	}
	.single-product-img {
		text-align: center;

		img {
			/*width: 50%;*/
			border: solid 1px #ccc;
    		border-radius: 4p
		}
	}
	.onsale {
		display: none;
	}
	del {
		font-size: 90%;
	}
	ins {
		color: $orange;
		font-weight: bold;
		margin-left: .25em;
		text-decoration: none;
	}
	.woocommerce-product-details__short-description {

		p {
			margin-bottom: 1em;
		}
		ul {
			padding-left: 15px;

			li {
				line-height: 1.2;
				margin-bottom: .5em;
				margin-left: 3px;
				&:before {
					content: "\f061";
				    display: inline-block;
				    color: $orange;
				    font-family: FontAwesome;
				    position: absolute;
				    left: 0;
				    margin-top: -2px;
				}
			}
		}
	}
	.cart {
		margin-bottom: 1em;

		.quantity, .single_add_to_cart_button {
			display: inline-block;
		}
		.quantity {
			width: 20%;

			label {
				margin-right: .5em;
			}
		}
		.qty {
			background: #BBBBBB;
		    color: #fff;
		    border: 0;
		    height: 35px;
		    width: 50px;
		    text-align: center;
		    font-size: 1rem;
		}
		.single_add_to_cart_button {
			border: 0;
		    font-size: 1rem;
		    width: 150px;
		    outline: 0;
		    padding: 13px 0;
		}
	}
	.woocommerce-tabs {
		margin: 3em 0;

		.wc-tabs, .description-wrapper {
			display: inline-block;
		}
		.wc-tabs {
			width: 15%;
			vertical-align: top;

			li {
				margin-bottom: 1em;
				border-bottom: solid 1px;
				padding-bottom: 5px;
			}
			.active a {
				color: $orange;
			}
		}
		.description-wrapper {
			width: 80%;
			margin-left: 1.5em;

			h2 {
				margin-bottom: .5em;
			}
		}
	}
	.related {
		margin-bottom: 3em;

		h2 {
			font-size: 1.2rem;
			margin-bottom: 1em;
			padding-left: 15px;
		}
		.woocommerce-loop-product__title {
			text-align: center;
			margin-bottom: 0;
			padding: 0;
		}
		.price {
			font-size: 1.2rem;
			margin: .25em 0 .5em 0;
			text-align: center;
			display: block;
		}
	}
}
/* cart */
.shop_table {
	.cart-titles {
		border-bottom: solid 2px #ccc;

		th {
			padding-bottom: .25em;
		}
	}
	.woocommerce-cart-form__cart-item {
		border-bottom: solid 1px #ccc;

		td {
			padding: .5em 0;
		}
		.product-thumbnail {
			width: 20%;
			text-align: center;
			img {
				width: 35%;
			}
		}
		.product-name {
			width: 30%;

			a {
				text-decoration: underline;
			}
		}
		.product-quantity {
			input {
				background: #BBBBBB;
			    color: #fff;
			    border: 0;
			    height: 35px;
			    width: 50px;
			    text-align: center;
			    font-size: 1rem;
			}
		}
	}
}
.update-cart {
	margin: 1em 0;
	width: 12%;
	float: right;
	font-size: .9rem;
	border-color: #A2A2A2;
	padding: .75em 0;
	cursor: pointer;
	color: #696969;
	&:hover {
		border-color: #696969;
	}	
}
.cart-collaterals {
	float: right;
	width: 25%;
	table {
		width: 100%;
		margin-bottom: 1em;

		tr {
			border-bottom: solid 1px #ccc;
		}
		th, td {
			padding: .5em 0;
		}
	}
	tr.shipping {
		display: none;
	}
}
/* checkout forms */
.woocommerce-checkout {

	.billing-fields {
		margin-right: 5em;
	}
	label, input {
		display: block;
	}
	input {
		width: 100%;
		border-radius: 4px;
		border: solid 1px #ccc;
		padding: .75em .25em;
	}
	.form-row {
		margin-bottom: 1em;
		display: inline-block;
		width: 48%;
	}
	#billing_country_field,
	#billing_company_field,
	#shipping_country_field,
	#shipping_company_field {
		width: 100%;
	}
	#billing_last_name_field,
	#billing_address_2_field,
	#billing_phone_field,
	#shipping_last_name_field,
	#shipping_address_2_field,
	#shipping_phone_field {
		float: right;
	}
	#billing_state,
	#shipping_state {
		height: 31.5px;
		width: 97%;
	}
	#billing_address_2_field,
	#shipping_address_2_field {
		position: relative;
		top: 18px;
	}
	#billing_city_field,
	#shipping_city_field {
		width: 45%;

		input {
			width: 91%;
		}
	}
	#billing_state_field,
	#shipping_state_field {
		width: 35%;

		select {
			width: 95%;
		}
	}
	#billing_postcode_field,
	#shipping_postcode_field {
		width: 20%;
	}
	#order_review_heading {
		margin-bottom: .5em;
	}
	.woocommerce-checkout-review-order-table {
		width: 45%;
		margin-bottom: 2em;

		th, td {
			padding: .5em 0;
			border-bottom: solid 1px #ccc;
			font-size: .9rem;
		}
		td.product-name {
			color: $orange;
		}
		.shipping td {
			color: #28a745;
			font-weight: bold;
		}
		.order-total  {

			th, td {
				font-weight: bold;
			}	
		}
	}
	.woocommerce-checkout-payment {
		
		img {
			width: auto;
		}
	}
	.place-order-btn {
		font-weight: 700;
		padding: 12px;
		background: $orange;
		color: $white;
		width: 50%;
		font-size: 1.2rem;
		margin: 1em 0;
		border: 0;
		cursor: pointer;
		&:hover {
			background: $cta-orange-hover;
		}
	}
	.notes {
		width: 100%;

		textarea {
			width: 100%;
			height: 50px;
			font-size: .9rem;
		}
	}
	.woocommerce-form-login {

		p {
			margin-bottom: .75em;
		}
		.cta-button {
			width: 100%;
			font-size: .9rem;
		}
		.woocommerce-form__input-checkbox {
			width: 15%;
			display: inline-block;
			position: relative;
			top: 4px;
		}
	}
}
.woocommerce-cart {

	.footer {
		clear: both;
		position: relative;
		top: 3em;
	}
}

/* thank you page */
.order_details {

	th, td {
		border-bottom: solid 1px #ccc;
		padding: .25em 0;
	}
}
.woocommerce-customer-details {

	.woocommerce-column__title,
	.woocommerce-order-details__title {
		border-bottom: solid 1px #ccc;
		margin-bottom: .25em;
	}
	address {
		line-height: 1.35;
	}
}

/* alerts */
.woocommerce-error, .alert-danger {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.woocommerce-error, .alert {
	position: relative;
    padding: .75rem 0;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.woocommerce-error li {
	padding: 0 1em;
}
.woocommerce-info {
	padding: .75rem 0 .75rem .5rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
/* media queries */
@media (max-width: 767px) {
	.post-type-archive-product {
		.product {
			margin-bottom: 3em;

			.woocommerce-loop-product__title {
				font-size: 1.2rem;
				margin: .25em 0;
			}
			.price {
				margin-bottom: .5em;
			}
		}
	}	
	.update-cart {
		width: 30%;
	}
	.cart-collaterals {
		float: none;
		width: 100%;
	}
	.wc-proceed-to-checkout a {
		font-size: 1.2rem;
	}
	.woocommerce-checkout {

		.form-row {
			width: 49%;
			margin-bottom: .75em;
		}
		input {
			width: 95%;
			height: 20px;
			font-size: .9rem;
			color: #454545;
		}
		#billing_company {
			width: 98%;
		}
		#billing_state_field {
			position: relative;
			top: -3px;
		}
		#billing_postcode {
			width: 88%;
		}
		.billing-fields {
			margin-right: 0;
		}
		.select2-container {
			width: 95% !important;
		}
		.select2-selection {
			height: 39px;
		}
		.select2-selection__rendered {
			position: relative;
			top: 4px;
		}
		.select2-selection__arrow {
			top: 6px !important;
		}
		.woocommerce-checkout-review-order-table,
		.place-order-btn {
			width: 100%;
		}
	}
	.single-product {

		.dr-elements {
			margin-top: .5em;

			li {
				font-size: 1rem;
				width: 47%;
			}
		}
		.product_title {
			margin-top: .25em;
		}
		.woocommerce-product-details__short-description {

			ul {

				li {
					&:before {
						content: "\f061";
					    display: inline-block;
					    color: $orange;
					    font-family: FontAwesome;
					    position: absolute;
					    left: 15px;
					    margin-top: -2px;
					}
				}
			}
		}
		.cart {

			.quantity {
				width: 35%;
			}
		}
		.woocommerce-tabs {
			margin: 2em 0;

			.wc-tabs {
				width: 100%;

				li {
					width: 49%;
					display: inline-block;
				}
			}
			.description-wrapper {
				width: 100%;
				margin-left: 0;

			}
		}
	}
	.shop_table {
		
		.woocommerce-cart-form__cart-item {

			.product-name {
				line-height: 1.2;
			}
			.product-thumbnail {
				img {
					width: 75%;
				}
			}
			.product-quantity {
				text-align: center;

				input {
					margin-top: .2em;
					width: 35px;
				}
			}
		}
	}
	#ship-to-different-address {
		margin-bottom: .75em;
	}
	#ship-to-different-address-checkbox {
		display: inline-block;
		width: 5%;
		position: relative;
		top: 3px;
	}
}	